/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
} */

/* label {
  font-size: 200px;
}

label::after {
  content: "\a";
  white-space: pre;
} */

/* ::selection {
  background: aqua;
  color: goldenrod;
}

.test::selection{
  background: deeppink;
  color: white;
} */
