#gameDiv {
  font-family: consolas, "Courier New", monospace;
  border: 3px solid;
  border-radius: 25px;
  padding: 10px;
  background-color: lightgrey;
  text-align: center;
}

.choiceBtn {
  line-height: 30px;
  width: 150px;
}

#playerText {
  color: blue;
}

#computerText {
  color: red;
}
